.petProfilePageContainer {
    background-color: white;
    box-sizing: border-box;
}

.petName {
    display: flex;
    gap: 1em;
    flex-direction: column;
    margin-top: 1.5em;

}

.petName .petDetails h1 {
    font-size: 3rem;
}

.petName .petDetails h2 {
    font-size: 2rem;
}

.petDetails {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
    justify-content: center;
    text-align: center;


}

.petProfileImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://place.dog/500/550);
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    position: relative;
    margin: auto auto 1em;
    height: 50vh;
    width: 100%;
    background-position: 25%, 25%;


}

.petInfo {
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    flex-wrap: wrap;
    font-size: 1rem;
    justify-content: center;
}

.petProfileDescription {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border: 1px solid rgb(207, 207, 207);
    margin: 1em 1em 1.5em;
}

.buttonSectionContainer {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    gap: 2em;
    align-items: center;
    margin: 0.8em auto;
    background-color: white;
}

.backButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    border-radius: 2vh;
    height:15vh;
    width: 15vh;
}

.backButtonContainer :hover {
    color: crimson;
}

.buttonPetProfileContainer {
    display: flex;
    justify-content: center;
}
