body {
    z-index: -10;
    position: relative;
}

main {
    z-index: -10;
    position: relative;
}

.pageContainer {
    width: 100%;
    position: relative;
    z-index: -10;
    box-sizing: border-box;
    background-color: white;
    height: 90vh;
    overflow-x: hidden;
}

.profileContainer {
    height: 50%;
    border-radius: 25px 25px 0 0;
    background: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: auto;
}

.petImageContainer {
    height: 40vh;
    text-align: center;
    position: relative;
    z-index: -1;
}

.petImageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://place.dog/500/550);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.petImage {
    margin: 0 auto;
    z-index: -1;
    position: relative;
}

.headerContainer {
    margin: 0.4em 1em;
}

.headerContainer h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

.headerContainer h2 {
    font-weight: 500;
    font-size: 1rem;
}

.tagContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: auto 0.8em;
}

.petDescription {
    margin: 0.8em 1em;
    font-size: 0.8rem;
}

.petDescription a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.2em;
}

.noAvailablePets {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em auto;
    align-items: center;
    text-align: center;
}

.noAvailablePets h1 {
    font-size: 1.5rem;
}

.noAvailablePets h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.pawIcon {
    color: #002846;
}

.buttonSectionContainer {
    background: white;
}

.buttonPetContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 2em;
    justify-content: center;
    margin: auto;
    background-color: white;
    position: relative;
}

.dislikeButtonContainer {
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
    padding: 0.3em 0.4em;
    color: darkred;
    cursor: pointer;
}

.likeButtonContainer {
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
    padding: 0.3em;
    color: #7DC9FF;
    cursor: pointer;
}

.iconContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
}

.heart {
    animation: pulse 1s ease-in-out infinite;
    color: #7DC9FF;
    position: fixed;
}

.crossIcon {
    color: darkred;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        opacity: 0.75;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}



