.pageContainer {
    display: flex;
    height:50vh;
    overflow: hidden;
    width: 100vw;
    flex-direction: column;
}

.profileContainer {
    height: 50vh;
    border-radius: 25px 25px 0 0;
    z-index: 2;
    position: absolute;
    bottom: 0;
    background: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.petImage {
    margin: 0 auto 0 auto;
}

.headerContainer {
    width: 87%;
    margin: 1.5em auto auto;
}

.headerContainer h1 {
    font-weight: bold;
    font-size: 2rem;
}

.headerContainer h2 {
    font-weight: 500;
    font-size: 1rem;
}

.tagContainer {
    width: 87%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 1em auto auto;
}

.petDescription {
    width: 87%;
    margin: 1em auto auto;
    font-size: 0.8rem;
}

.petDescription a {
    text-decoration: none;
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 2em;
    width: 60%;
    justify-content: center;
    margin: 1em auto auto;
}