/* to put page below nav bar */
body{
    position: relative;
    z-index: -10;
    background-image: url('../../../public/images/footprints\ \(6\).png');
    background-repeat: repeat-x-y;
}


/* styling the form and all its components */
  #pform input, #pform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #2C3E50;
    font-size: 13px;
  }

  #pform fieldset {
    background: white;
    border-color: white;
    border-radius: 15px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  }

textarea{
    resize: none;
}

.updateButton{
    background-color: rgba(40, 162, 255, 0.578);
    cursor: pointer;
}

/* main layout of the page and containers */
.profilePageHolder{
    position: relative;
    z-index: -10;
    
    
}

.titleBox{
  margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -10;
    height: 15vh;
    border-radius: 10px;
}

body{
    position: relative;
    z-index: -10;
}

.profTitle{
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    font-size: 5vh;
    position: relative;
    z-index: -10;
    text-align: center;
    border-radius: 15px;
    border-bottom: none;
    background-color: #91D1FF;
    padding: 10px;
}

.profPictureBox
{
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    z-index: -10;
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
}
main{
    z-index: -10;
    position: relative;
}

.profPicture{
    border-radius: 10em;
    z-index: -100;
    position: relative;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.profileField{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    width: 75%;
    margin-top: 10 px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid 1px;
    border-radius: 0.5em;
    text-indent: 5%;
    z-index: -10;
    position: relative;
    
}

.fbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -10;
    
}

label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
}

.input-icon-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  color: #000000;
}

/* Adjust the icon position for textarea */
textarea + .input-icon {
  top: 10px;
  transform: none;
}

/* Increase right padding of inputs to make room for icons */
input[type="text"],
input[type="date"],
textarea {
  padding-right: 30px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.edit{
  display: flex;
  margin-top: 3vh;
  font-size: 5vh;
  background-color: rgb(170, 225, 255);
}

.verified{
  color: dodgerblue;
  position: relative;
  z-index: -10;
  font-size: 7vh;
  cursor: pointer;
}

.unverified{
  display: none;
}

.displayName{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 25vh;
  font-size: 6vh;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 30vh;
  font-size: 5vh;
}