.loginPage {
    display: flex;
    margin: 3em auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginLogo {
    margin: 0.5em auto;
    width: 65%;
}

.loginContainer {
    padding: 2em;
    width: 100%;
}

.loginDetailsContainer {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.loginContainer label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.loginContainer input {
    border-radius: 5px;
    padding: 1.3em;
    background-color: #f2f2f2;
    border: none;
}

.loginContainer .loginDetailsContainer input:focus {
    border: 1px solid #7dc9ff;
}

.emailContainer {
    display: flex;
    flex-direction: column;
}

.nameContainer {
    display: flex;
    flex-direction: column;
}

.usernameContainer {
    display: flex;
    flex-direction: column;
}

.DOBContainer {
    display: flex;
    flex-direction: column;
}
.passwordContainer {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

.loginButton {
    padding: 1em;
    border: none;
    background: #002846;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 1em;
}

.signupButton {
    padding: 1em;
    border: 1px #002846 solid;
    border-radius: 5px;
    color: #002846;
    font-weight: bold;
    background: white;
}

.pawLoginIcon {
    color: #7DC9FF;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
    .loginDetailsContainer {
        width: 40%;
    }

    .loginLogo {
        width: 30%;
    }
}
